body{
    /* background:rgba(0, 0, 0, 0.808); */
    background-image: url("bgimage.jpeg");
    background-size:cover;
}
#logintitle{
    color:rgb(161, 116, 2);
    font-size:45px;
    margin-bottom:30px;
}
#logincontainer{
    background: rgba(156, 156, 156, 0.417);
    backdrop-filter:blur(10px);
    box-shadow: -1px 2px 15px rgba(58, 58, 58, 0.599);
    margin:auto;
    margin-top:5%;
    width: 800px;
    height:600px;
    border-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;

}
#Loginform{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.signininput{
    width:300px;
    height:30px;
    border-radius:10px;
    border-color:rgba(146, 146, 146, 0.416);
    padding-left:20px;

}
.registerbtn{
    cursor:pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:20px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border-color:rgba(255, 200, 61, 0.8);}
#haveanaccount{
    margin-left:1%;
}
#loginredirectbutton{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    cursor:pointer;
}