/* login styles */
body{
    background-color:white;
    font-family:sans-serif;
    font-weight:bold;

}
#logintitle{
    display:flex;
    justify-content:center;
    color:rgba(0, 0, 0, 0.755);
    font-size:35px;
    margin-bottom:30px;
}
#logincontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    background: white;
    box-shadow: -1px 2px 315px rgba(131, 131, 131, 0.599);
    margin:auto;
    margin-top:5%;
    width: 500px;
    height:500px;
    border-radius:30px;
    margin-top:5%;

}
#Loginform{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.signininput{

    width:300px;
    height:42px;
    border-radius:5px;
    border: 1px solid #b1b1b1;
    padding-left:20px;
    font-size:large;
    font-family:sans-serif;
    font-weight:bold;
    

}
.registerbtn{
    cursor:pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:10px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border: 1px solid rgb(249, 188, 35);
    font-weight:bold;
}

#loginbtn{
    cursor:pointer;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:10px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border: 1px solid rgb(249, 188, 35);
    font-weight:bold;

}

#haveanaccount{
    margin-left:12%;
    color:rgba(0, 0, 0, 0.78);
    
}
#loginredirectbutton{
    color:rgb(64, 27, 110);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    cursor:pointer;
}

#loginredirectbutton:hover{
    color:rgb(31, 31, 252);
}
/* From Uiverse.io by satyamchaudharydev */ 
.loader {
  visibility:hidden;
  margin-top:10%;
  margin-left:28%;
  display: absolute;
  --height-of-loader: 4px;
  --loader-color: rgb(234, 182, 49);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}