@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
@layer base {
  html {
    /* 16px * 0.8 = 12.8px */
    font-size: 12.8px;
  }
}
@layer components {
  .btn-primary {
    @apply flex items-center gap-2
           px-4 py-2
           rounded-2xl
           font-semibold
           bg-yellow-500 text-black
           hover:bg-yellow-400
           active:scale-95
           transition cursor-pointer;
  }

  .btn-sec {
    @apply flex items-center gap-2
           px-4 py-2
           rounded-2xl
           font-semibold
           bg-white text-black
           hover:bg-yellow-400
           active:scale-95
           transition cursor-pointer;
  }
}