body{
    background:black;
}
#title{
    color:rgb(161, 116, 2);
    font-size:45px;
    margin-bottom:30px;
}
#container{
    background: white;
    margin:auto;
    margin-top:2%;
    width: 800px;
    height:700px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;

}
#datas{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.signupinput{
    width:300px;
    height:30px;
    border-radius:10px;
    border-color:rgba(146, 146, 146, 0.416);
    padding-left:20px;

}
.registerbtn{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:20px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border-color:rgba(255, 200, 61, 0.8);}
#haveanaccount{
    margin-left:23%;
}
#loginredirectbutton{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}