body{
    background:black;
}
#container{
    background: white;
    margin:auto;
    margin-top:2%;
    width: 800px;
    height:650px;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.signupinput{
    width:300px;
    height: 30px;
    border-radius:10px;
    border-color:rgba(139, 139, 139, 0.365);
    padding-left: 20px;
}
.registerbtn{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:20px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border-color:rgba(255, 200, 61, 0.8);}
#haveanaccount{
    margin-left:23%;
}
#loginredirectbutton{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
}