body{
    background-color:white;
    background-size:cover;
    font-family: sans-serif;
}
#title{
    font-weight:bold;
    color:rgba(0, 0, 0, 0.755);
    font-size:35px;
    margin-bottom:30px;
    margin-top:10%;
}
#container{
    font-weight:bold;
    background: white;
    backdrop-filter:blur(10px);
    box-shadow: -1px 2px 315px rgba(131, 131, 131, 0.599);
    margin:auto;
    margin-top:10%;
    width: 500px;
    height:500px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;


.fail-alert {
  position: absolute;
  left: 50%;
  z-index: 50;
  display: flex;
  width: fit-content;
  transform: translate(-50%, 5rem);
  white-space: nowrap;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: #fda4af;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.pass-alert {
  position: absolute;
  left: 50%;
  z-index: 50;
  display: flex;
  width: fit-content;
  transform: translate(-50%, 5rem);
  white-space: nowrap;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: #fda4af;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.hidden {
  display: none;
}

.alert-icon {
  width: 1.5rem;
  height: 1.5rem;
}

}
#registerform{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.signupinput{
    
    width:300px;
    height:30px;
    border-radius:5px;
    border-color:rgba(146, 146, 146, 0.416);
    border: 1px solid #b1b1b1;
    padding-left:20px;

}
.registerbtn{
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:10px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border: 1px solid rgb(249, 188, 35);
}
#haveanaccount{
    font-family:arial;
    color:rgba(0, 0, 0, 0.881);
    font-weight:900px;

    margin-left:1%;
}
#loginredirectbutton{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    cursor:pointer;
}